 1: Employee Performance Bonus Eligibility

In [20]:
employees = {
    "Ravi": 92,
    "Anita": 88,
    "Kiran": 92,
    "Suresh": 85
}
highest_score = max(employees.values())
top_performers = []
for name, score in employees.items():
    if score == highest_score:
        top_performers.append(name)
print(f"Top Performers Eligible for Bonus: {', '.join(top_performers)} (Score: {highest_score})")

Top Performers Eligible for Bonus: Ravi, Kiran (Score: 92)

2: Search Query Keyword Analysis

In [21]:
query = "Buy mobile phone buy phone online"
words = query.lower().split()
word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
result = {word: count for word, count in word_count.items() if count > 1}
print(result)

{'buy': 2, 'phone': 2}

3: Sensor Data Validation

In [22]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]

valid_readings = []

for i in range(len(sensor_readings)):
    if sensor_readings[i] % 2 == 0:
        valid_readings.append((i, sensor_readings[i]))

print("Valid Sensor Readings (Hour, Value):")
print(valid_readings)

Valid Sensor Readings (Hour, Value):
[(1, 4), (3, 8), (4, 10), (5, 12)]

4: Email Domain Usage Analysis

In [23]:
emails = [
    "ravi@gmail.com",
    "anita@yahoo.com",
    "kiran@gmail.com",
    "suresh@gmail.com",
    "meena@yahoo.com"
]
domain_count = {}
for email in emails:
    domain = email.split("@")[1]
    if domain in domain_count:
        domain_count[domain] += 1
    else:
        domain_count[domain] = 1
total_emails = len(emails)
for domain in domain_count:
    percentage = (domain_count[domain] / total_emails) * 100
    print(f"{domain}: {int(percentage)}%")

gmail.com: 60%
yahoo.com: 40%

5: Sales Spike Detection

In [24]:
sales = [1200, 1500, 900, 2200, 1400, 3000]
average = sum(sales) / len(sales)
for i in range(len(sales)):
    if sales[i] > average:
        print(f"Day {i+1}: {sales[i]}")

Day 4: 2200
Day 6: 3000

6: Duplicate User ID Detection

In [25]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]
id_count = {}
for user in user_ids:
    if user in id_count:
        id_count[user] += 1
    else:
        id_count[user] = 1
for user, count in id_count.items():
    if count > 1:
        print(f"{user} → {count} times")

user1 → 3 times
user3 → 2 times