Problem 1: Unique Words in a Sentence

In [29]:
s=input("Enter sentence:")
s=s.split()
unique_words=set(s)
print(unique_words)

Enter sentence: python is easy and python is powerful
{'is', 'powerful', 'and', 'easy', 'python'}

Problem 2: Highest Salary from Employee Data

In [30]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_name=""
highest_salary=0
for name,salary in employees.items():
  if salary>highest_salary:
    highest_salary=salary
    highest_name=name
print(f'Highest Salary :{highest_name}-{highest_salary}')

Highest Salary :Ravi-75000

Problem 3: Find Maximum and Minimum Values

In [31]:
numbers = [45, 22, 89, 10, 66]
min=numbers[0]
max=numbers[0]
for i in numbers:
  if i>max:
    max=i
  if i<min:
    min=i
print("Max:",max)
print("Min",min)

Max: 89
Min 10

Problem 4: Count Products Above a Price Threshold

In [32]:
prices = [450, 1200, 899, 1500, 300]
count=0
for i in prices:
  if i>1000:
    count+=1
print("products above 1000:",count)

products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [33]:
attendance = ["P", "P", "A", "P", "P"]
present=0
for i in attendance:
  if i=="P":
    present+=1
attendance_percentage=present/len(attendance)*100
print("Attendance Percentage:",attendance_percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [34]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers=set(phone_numbers)
print("Unique Phone Numbers:",unique_phone_numbers)

Unique Phone Numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [35]:
text=input("Enter a string:").strip()
char_count = {}
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
print(char_count)

Enter a string:deepika
{'d': 1, 'e': 2, 'p': 1, 'i': 1, 'k': 1, 'a': 1}

Problem 8: Convert List to Tuple

In [36]:
List=[10,20,30]
t=tuple(List)
print("Tuple:",t)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [37]:
emp=input("Enter Employee Name:")
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
if emp in employees:
  print("Employee Exists")
else:
  print("Employee not Exists")

Enter Employee Name:Ravi
Employee Exists

Problem 10: Calculate Average Marks

In [38]:
marks=[80,90,86,95,98,94]
total=0
for i in marks:
  total+=i
average_marks=total/len(marks)
print("Average Marks:",average_marks)

Average Marks: 90.5